.flex {
	display: flex;
}

.flex-grow-0 {
	flex-grow: 0;
	flex-shrink: 1;
}

.flex-grow-1 {
	flex-grow: 1;
	flex-shrink: 0;
}

.gap-20 {
	gap: 20px;
}

.justify-center {
	justify-content: center;
}

.justify-space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.hover-cursor:hover {
	cursor: pointer;
}

h1 {
	margin: 0;
}

.margin-0 {
	margin: 0;
}
